
<div class="projetos">
  <div class="projeto"></div>
  <div class="imagem-card">
    <img src={{imagem}} alt="logo-projeto">
  </div>
  <div class="info-card">
    <h1>{{titulo}}</h1>

    <div class="descricao-card">
      <p>&nbsp;&nbsp;&nbsp;&nbsp;{{descricao}}</p>
    </div>
    <div class="tecnologia-card">
        <img *ngFor="let stack of stacks" src={{stack.imagem}} />

    </div>
    <div class="botoes">
      <a *ngIf="deploy !== ''" href={{deploy}}>Deploy</a>
      <a *ngIf="repositorio !== ''" href={{repositorio}}>Repositorio</a>
    </div>
</div>
