.container-apresentacao {

  margin-left: 1px;
  margin-right: 1px;
  width: 60vh;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}

.logo-card > img {
  width: 70%;
}
.titulo-apresentacao {
  margin-top: 3rem;
  text-align: center;
}
.titulo-apresentacao > h1 {
  font-size: 2rem;
}
.titulo-apresentacao > h2 {
  font-size: 1.5rem;
  color: darkorange;
}
.texto-apresentacao {
  margin-top: 1rem;
}

.texto-apresentacao > p {
  font-size: 1.1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-justify: auto;
  line-height: 1.5rem;
}

@media only screen and (max-width: 700px) {

    .container-apresentacao {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;

    }

    .logo-card>img {
      width: 70%;
    }

    .titulo-apresentacao {
      align-items: center;
      margin: 0rem 0rem 0rem 0rem;
      text-align: left;
    }

    .titulo-apresentacao>h1 {
      font-size: 1.5rem;
      margin-left: 2rem;
    }

    .titulo-apresentacao>h2 {
      margin-left: 2rem;
      font-size: 1.2rem;
      color: darkorange;
    }

    .texto-apresentacao {
      margin: 0 2rem  0 2rem;
    }

    .texto-apresentacao>p {
      font-size: 1.1rem;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-justify: auto;
      line-height: 1.5rem;
    }
  }

