<div class="container-info">

  <!-- <div class="img-card">
    <img src={{foto}} alt="foto-perfil">
  </div> -->
  <div class="info-card">
    <ul>
      <li><a href="tel:{{telefone}}" target="_blank"><img src="https://github.com/paulosergiocf/Portifolio/blob/main/src/assets/img/servico-de-call-center.png?raw=true" alt="">{{telefone}}</a></li>
      <li><a href="mailto:{{email}}" target="_blank"><img src="https://github.com/paulosergiocf/Portifolio/blob/main/src/assets/img/mail.png?raw=true" alt="">{{email}}</a></li>
      <li><a href={{linkedinUrl}} target="_blank"><img src="https://github.com/paulosergiocf/Portifolio/blob/main/src/assets/img/linkedin.png?raw=true" />
{{linkedin}}</a></li>
      <li><a href={{githubUrl}} target="_blank"><img src="https://github.com/paulosergiocf/Portifolio/blob/main/src/assets/img/github.png?raw=true" />
{{github}}</a></li>
      <li><a href={{curriculoUrl}} target="_blank"><img src="https://github.com/paulosergiocf/Portifolio/blob/main/src/assets/img/download-direto.png?raw=true" alt="">Curriculo</a></li>
    </ul>

  </div>
</div>

